<section class="marvel-home">
  <app-search></app-search>
  <cdk-virtual-scroll-viewport class="marvel-home--cards-container"
      itemSize="10"
      appendOnly>
    <ng-container *cdkVirtualFor="let character of characters$ | async">
      <app-character-card [character]="character"></app-character-card>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <app-paginator [total]="paginationTotal$" (paginationOptions)="handlePagination($event)"></app-paginator>
</section>
<mat-progress-bar *ngIf="!this.hasApiLoaded" mode="query" color="warn"></mat-progress-bar>