<section class="marvel-home">
  <mat-spinner *ngIf="!this.hasApiLoaded"
      mode="indeterminate"
      color="warn">
  </mat-spinner>
  <cdk-virtual-scroll-viewport class="marvel-home--cards-container"
      itemSize="15"
      minBufferPx="45"
      maxBufferPx="400">
    <div *cdkVirtualFor="let character of characters$ | async" @fadeIn>
      <app-character-card [character]="character"></app-character-card>
    </div>
  </cdk-virtual-scroll-viewport>
  <app-paginator [total]="paginationTotal$" (paginationOptions)="handlePagination($event)"></app-paginator>
</section>