<header class="marvel-header">
  <mat-toolbar color="primary">
    <button mat-icon-button class="marvel-heaader--menu" aria-label="">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Marvel Heroes</span>
    <span class="marvel-header--spacer"></span>
    <button mat-icon-button class="marvel-header--icon-favorite" aria-label="">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button class="marvel-header--icon-share" aria-label="">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>