<header class="marvel-header mat-elevation-z3">
  <mat-toolbar>
    <a class="marvel-header--link" mat-button [routerLink]="'/'">
      <img class="marvel-header--logo" src="/assets/img/marvel-logo.svg" alt="Marvel logo"/>
    </a>
    <span class="marvel-header--spacer"></span>
    <span class="marvel-header--count" *ngIf="this.favorites > 0">{{this.favorites}}</span>
    <button mat-icon-button class="marvel-header--favorites" aria-label="View favorites only">
      <mat-icon>star</mat-icon>
    </button>
  </mat-toolbar>
</header>