<mat-card class="marvel-character-card">
  <mat-card-header>
    <mat-card-title>
      <p class="marvel-character-card--title">
        {{character.name}}
      </p>
  </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{character.imageURL}}" alt="">
  <mat-card-content></mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
        color="{{character.isFavorite ? 'primary' : 'secondary'}}"
        (click)="toggleFavorite(character.id)"
        aria-label="Toggle favorite status">
      <mat-icon class="marvel-character-card--favorite">star</mat-icon>
    </button>
    <button [routerLink]="['character', character.id]"
      mat-raised-button color="accent"
      aria_label="Character page">
      <mat-icon>view_list</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>