* {
  box-sizing: border-box;
}

html,
body,
main { 
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
}

main {
  background-color: #613532;
}

/** Material Overrides */
.mat-card-header .mat-card-header-text  {
  margin: 0;
}

.mat-card .mat-card-image {
  margin: 0 -16px -16px;
}

.mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: .8;
}

.cdk-virtual-scroll-content-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
